<!DOCTYPE html>
<html>
<head>
    <title>测试游戏</title>
    <meta charset="utf-8" content="text/html">
    <!--jasmine-->
    <link rel="stylesheet" type="text/css" href="../script/jasmine/lib/jasmine-1.3.1/jasmine.css"/>

    <script src="../script/jasmine/lib/jasmine-1.3.1/jasmine.js"></script>
    <script src="../script/jasmine/lib/jasmine-1.3.1/jasmine-html.js"></script>

    <!--jasmine扩展-->
    <script src="../script/jasmine/spec/helper/specHelper.js"></script>
    <script src="../script/jasmine/src/tool.js"></script>

    <!--sinon-->
    <script src="../script/jasmine/sinonJs/sinon.js"></script>
    <script src="../script/jasmine/sinonJs/sinonExtend.js"></script>
<body>

<script src="../script/yEngine2D/main.js"></script>

<script>
    YE.main.setConfig({
        engineDir: "../script/yEngine2D/",
        userFilePaths: [
            "../script/act/KeyManager.js",

            "../script/act/layer/EntityLayer.js",

            "../script/act/sprite/Sprite.js",
            "../script/act/sprite/PlayerSprite.js",


            //测试

            "../script/act/sprite/PlayerSpriteSpec.js",
            "../script/act/KeyManagerSpec.js",

            "../script/act/layer/EntityLayerSpec.js"
        ],
        onload: function () {
            (function () {
                var jasmineEnv = jasmine.getEnv();
                jasmineEnv.updateInterval = 1000;

                var htmlReporter = new jasmine.HtmlReporter();

                jasmineEnv.addReporter(htmlReporter);

                jasmineEnv.specFilter = function (spec) {
                    return htmlReporter.specFilter(spec);
                };
                function execJasmine() {
                    jasmineEnv.execute();
                }


                var currentWindowOnload = window.onload;

                if (currentWindowOnload) {
                    currentWindowOnload();
                }
                execJasmine();
            })();
        }
    });
</script>

</body>
</html>
